<!DOCTYPE html>


<html>

  <head>
    <%- include("Partials/head.ejs"); %>
  </head>


  <body>

    <div class="text-center" style="margin-top:20vh;">
      <div>
        <h1 class="display-1">Find your call</h1>
        <h2 class="mt-5">.. by taking our course quiz!</h2>
        <button class="btn btn-primary btn-large mt-5" onclick="document.location.href='/quiz'" style="font-size:1.5rem;height:5rem;width:20rem;">Take quiz</button>
      </div>

      <div class="mt-5">
        <h5>or enroll in our new course!</h5>
        <button class="btn btn-secondary btn-large mt-2" style="font-size:1.3rem;height:4rem;width:15rem;">Business skills course</button>
      </div>
    </div>

  </body>


</html>
