<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CT Quiz</title>
<!-- Jquery -->
<script src="http://localhost/Js/jquery-3.5.1.js"></script>
<!-- Bootstrap -->
<script src="http://localhost/Bootstrap/js/bootstrap.js"></script>
<link href="http://localhost/Bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- Javascript -->
<script src="Js/main.js"></script>
<!-- Css -->
<!--<link href="http://localhost/Css/general.css" rel="stylesheet">-->
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
